body{
    h1{
        color: #0e0c0c;
        text-align: center;
        font-size: 50px;
    }
    h2{
        color: #0e0c0c;
        text-align: center;
        font-size: 50px;
    }
    p{
        color: #0e0c0c;
        text-align: center;
        font-size: 25px;
    }
    
    button{
        background-color: #0e0c0c;
        color: #ffffff;
        border: none;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    }

    background-color: #f8f8f8;
    font-size: large;
}

